@media only screen and (max-width: 768px) {
    h1 {
        font-size: 20px;
    }
    .everything {
        width: 100%;
        background-color: white;
    }
    .body{
        width: 95%;
        margin: 0 5px;
    }
    .sidebar {
        display: none;
    }
    .nav-main {
        display: none;
    }
    .nav-mini {
        height: 50px;
        justify-content: space-around;
    }
    .nav-box {
        display: none;
    }
    #open-nav {
        display: inline;
    }
    .login-form {
        width: 300px;
    }
    .logout-form {
        width: 300px;
    }
    #date {
        display: none;
    }
    .logo {
        margin-left: 0;
    }
    .logo p {
        display: none;
    }
    .body {
        margin: 10px;
    }
    .main {
        padding: 0;
    }
    .first-img p {
        font-size: 23px;
    }
    .more p {
        display: none;
    }
    .more img {
        height: 100px;
        width: auto;
    }
    .more h1 {
        font-weight: normal;
    }
    .footer p {
        display: none;
    }
    .comment{
        margin-left: 0;
        width: 90%;
    }
    .comment-list {
        margin-left: 20px;
        width: 90%;
    }
    #number-comment {
        margin-left: 20px;
        width: 90%;
    }
    .comment h1{
        margin-left: 20px;
    }
    .comment input{
        margin-left: 20px;
        width: 90%;
    }
    .comment button{
        margin-left: 20px;
    }
    #send{
        margin-left: 20px;
    }
}