.dropbtn {
    border: none;
    cursor: pointer;
}

#searchInput {
    outline: none;
    width: 250px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 14px 20px 12px 20px;
    border: none;
    border: 1px solid lightgray;
}

#searchInput:focus {
    border: 1px solid blue;
    transition: border 0.3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 49px;
    background-color: #f6f6f6;
    width: 250px;
    border: 1px solid #ddd;
    z-index: 2;
}


#dropdown:hover .dropdown-content {
    display: block;
}

#search2 {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    padding-left: 10px;
}

#search2:focus {
    border: 1px solid blue;
    transition: border 0.3s;
}